### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# always look at datatypes first
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [3]:
#Use Len to display the total number of players
total_player = len(purchase_data["SN"].unique())
total_player

576

In [4]:
#Use Len to display the total number of players
print(len(purchase_data["Purchase ID"]))

780

In [5]:
# Number of Unique players
print(len(purchase_data["SN"].unique()))

576

In [6]:
sn_unique = purchase_data["SN"].unique()
sn_unique

array(['Lisim78', 'Lisovynya38', 'Ithergue48', 'Chamassasya86',
       'Iskosia90', 'Yalae81', 'Itheria73', 'Iskjaskst81', 'Undjask33',
       'Chanosian48', 'Inguron55', 'Haisrisuir60', 'Saelaephos52',
       'Assjaskan73', 'Saesrideu94', 'Lisassa64', 'Lisirra25',
       'Zontibe81', 'Reunasu60', 'Chamalo71', 'Iathenudil29',
       'Phiarithdeu40', 'Siarithria38', 'Eyrian71', 'Siala43',
       'Lisirra87', 'Lirtossa84', 'Eusri44', 'Aela59', 'Tyida79',
       'Idai61', 'Farusrian86', 'Aeralria27', 'Haillyrgue51', 'Sondim73',
       'Jeyciman68', 'Idaisuir85', 'Seuthep89', 'Reulae52',
       'Sondilsaya62', 'Aerithriaphos45', 'Assosia88', 'Aidaillodeu39',
       'Aelly27', 'Tyeosri53', 'Haerith37', 'Yasrisu92', 'Chanuchi25',
       'Asur96', 'Iaralrgue74', 'Chanosia34', 'Aelin32', 'Ilosianya35',
       'Zhisrisu83', 'Phaelap26', 'Raesty92', 'Palyon91', 'Tyisur83',
       'Yaliru88', 'Yadanu52', 'Jiskimya77', 'Yadaphos40', 'Alo38',
       'Phaena87', 'Chamirraya83', 'Chanastsda67', 'Indonmol95',
       'Jiskossa61', 'Pheodai94', 'Hari50', 'Marilsa69', 'Assistasda42',
       'Lisosia93', 'Philodil43', 'Mindadaran26', 'Lirtosia63',
       'Assjaskan56', 'Irithlis29', 'Heudai45', 'Haerithp41', 'Aina42',
       'Jiskjask60', 'Umolrian85', 'Qarirwen82', 'Laedallo55',
       'Eoralrap26', 'Undosian34', 'Chadolyla44', 'Chadistaya75',
       'Yathedeu43', 'Aina43', 'Ilassast39', 'Lisassala98', 'Aiduecal76',
       'Chadossa89', 'Pheodaisun84', 'Heollyriap59', 'Maropast28',
       'Frichim77', 'Thryallym62', 'Eulanurin88', 'Lassjaskan73',
       'Tyaerith73', 'Sondadarya58', 'Hirirap39', 'Ririp86', 'Sundim98',
       'Iskichinya81', 'Phyali88', 'Undirrala66', 'Nitherian58',
       'Lassilsala30', 'Frichaststa61', 'Frichosia58', 'Ilosia37',
       'Lisista27', 'Seudaillorap38', 'Aesty53', 'Yathecal82',
       'Lisossanya98', 'Iral74', 'Lisast87', 'Maridisya31', 'Jiskassa76',
       'Ethriel85', 'Iskirra45', 'Iri67', 'Rarallo90', 'Lisasi93',
       'Adastirin33', 'Eyista89', 'Ili43', 'Chamirra53', 'Hailaphos89',
       'Iskadarya95', 'Qilatista90', 'Inasti31', 'Marilsanya48',
       'Marjask87', 'Chanjaskan89', 'Hyaduesu61', 'Aillyrin83',
       'Marast30', 'Sundadar27', 'Tyaelorap29', 'Lirtimst73',
       'Styaduen40', 'Sidap51', 'Chanastst38', 'Lirtassa52', 'Sondim68',
       'Aeral97', 'Heosurnuru52', 'Lisopela58', 'Caesrinusuir82',
       'Tyirinu79', 'Fironon91', 'Lassjask63', 'Indcil77', 'Chamimla73',
       'Syathe73', 'Baelollodeu94', 'Mindista32', 'Saena74',
       'Marirrasta50', 'Lamil79', 'Aenarap34', 'Aisur51', 'Thrientossa55',
       'Chadista79', 'Tyeurith29', 'Malunil62', 'Hiasri33', 'Lisadar44',
       'Frichjask31', 'Lisjaskya84', 'Ristydru66', 'Frichast28',
       'Minduri31', 'Maradaran90', 'Mindetosya30', 'Ialallo29',
       'Pheusrical25', 'Chanosia60', 'Phistym51', 'Aelollo59',
       'Chamimla85', 'Haisurra41', 'Sondastsda82', 'Qilanrion65',
       'Eulasuir89', 'Eosrirgue62', 'Shaidanu32', 'Lirtastan49',
       'Iaralsuir44', 'Tyeudariasuir90', 'Cosadar58', 'Aelastirin39',
       'Aidai53', 'Jiskjask85', 'Ealrion88', 'Chamjask73', 'Tyaenasti87',
       'Alim85', 'Haeladil46', 'Jiskirran77', 'Undosia27', 'Peorith44',
       'Yarithsurgue62', 'Taeduenu92', 'Rairin89', 'Aerithriaphos46',
       'Idairin51', 'Lisista54', 'Eodailis27', 'Lirtastsda29',
       'Undilsan50', 'Eodaisu60', 'Quaranmol58', 'Lirtossa60',
       'Lirtilsa71', 'Isursuir31', 'Sundirrala66', 'Saerallora71',
       'Iasur80', 'Tyaelo67', 'Quanunwen42', 'Yasur35', 'Assehoan67',
       'Haellysu29', 'Saida58', 'Chamadar79', 'Aeral43', 'Lirtirra37',
       'Tyidaim51', 'Lassassast73', 'Assassasta79', 'Heollyra92',
       'Anallorgue57', 'Aerithllora36', 'Smaistysu35', 'Ennalmol65',
       'Yarithrgue83', 'Yana46', 'Sondimla25', 'Aidai61', 'Wailin72',
       'Firan91', 'Alaesu91', 'Aellynun67', 'Rilaera56', 'Eulaestira36',
       'Marim28', 'Idastidru52', 'Ilirrasda54', 'Alaephos75',
       'Syalollorap93', 'Minduli80', 'Chanastya70', 'Frichadaran88',
       'Siallylis44', 'Aeri84', 'Iasursti71', 'Mindilsa34', 'Chamastya76',
       'Undirra73', 'Aestysu37', 'Chadadarla74', 'Strithenu87',
       'Iasrira89', 'Ialidru40', 'Tyalaesu89', 'Tyidainu31', 'Lirtilsa72',
       'Undjaskla97', 'Saedaiphos46', 'Aerithnucal56', 'Lisossa46',
       'Layjask75', 'Lisista63', 'Ceoral34', 'Hilaerin92',
       'Chadilsasta32', 'Undassa89', 'Iduenu77', 'Lisosia66',
       'Undimsya85', 'Phaedue89', 'Yadacal26', 'Lisossa25', 'Ilmol66',
       'Yastyriaphos75', 'Hiasurria41', 'Palatyon26', 'Qilalista41',
       'Hada39', 'Chamilsala65', 'Rairith81', 'Ilarin91', 'Ryanara76',
       'Undista85', 'Tyeoralru41', 'Pheosrinudeu70', 'Heuli25',
       'Pheutherin27', 'Chadirra90', 'Ali84', 'Frichjaskan98', 'Malil90',
       'Yarithllodeu72', 'Tyaedainu44', 'Ethron58', 'Eusurdeu49',
       'Saistyphos30', 'Saisrilis27', 'Hallysucal81', 'Ilimya66',
       'Raysistast71', 'Haedairiadru51', 'Tyananurgue44', 'Risty84',
       'Aerillorin70', 'Phistyn52', 'Yalo85', 'Chamirrasya33', 'Hiral75',
       'Isursti83', 'Bartassaya73', 'Aeda94', 'Quinarap53', 'Asur53',
       'Alarap40', 'Sida61', 'Hiarideu73', 'Lassassasda30', 'Ennoncil86',
       'Siralsudeu54', 'Eusri26', 'Ardcil81', 'Marilsasya33', 'Lirtim36',
       'Heunadil74', 'Frichadar89', 'Aesurstilis64', 'Idaidil28',
       'Lisotesta51', 'Lisico81', 'Lisiriya82', 'Siana77', 'Marokian45',
       'Sausosia74', 'Assesi91', 'Eusri70', 'Aisurria69', 'Iarilis73',
       'Raisty38', 'Ilista82', 'Leyirra83', 'Aiduesu86', 'Frichynde86',
       'Hisridru55', 'Chamossa77', 'Irillo49', 'Lirtastsya71',
       'Frichosiala98', 'Qilunan34', 'Quarrion42', 'Aisurdru79',
       'Hiaral50', 'Iarallo65', 'Sondassasya91', 'Chanossast57',
       'Chanjask65', 'Ethralista69', 'Sondistanya61', 'Eudanu32',
       'Euthe35', 'Lassimla92', 'Lisossala30', 'Eulae84', 'Chamadarnya73',
       'Eolan54', 'Assistasda90', 'Ennrian78', 'Undirrasta89',
       'Rianistast50', 'Undare39', 'Adairialis76', 'Aesur96',
       'Tyialisudeu65', 'Arirgue63', 'Sundadarla27', 'Eyircil84', 'Ina92',
       'Lirtistanya48', 'Marassa62', 'Mindossa76', 'Salilis27',
       'Sondossa69', 'Sundjask71', 'Errian63', 'Eurithphos97',
       'Raillydeu47', 'Malon70', 'Jiskimsda56', 'Marughi89', 'Ingatcil75',
       'Chanirrasta87', 'Alaesu77', 'Ermol76', 'Tyeuduen32', 'Firon67',
       'Iadueria43', 'Pheulidil31', 'Eodairu79', 'Frichocesta66',
       'Thourdirra92', 'Chanastnya43', 'Iskim96', 'Eulolis41',
       'Sastydeu50', 'Ilaesudil92', 'Yasur85', 'Aidain51',
       'Aerithnuphos61', 'Yalostiphos68', 'Meosridil82', 'Aillyriadru65',
       'Sally64', 'Lisim51', 'Isurria36', 'Silaera56', 'Leetirraya83',
       'Lirtirra81', 'Eryon48', 'Iana95', 'Sondassan80', 'Chanadar44',
       'Eosurdru76', 'Shidai42', 'Aesri53', 'Syally44', 'Jiskadarst60',
       'Sondadar26', 'Malarrian73', 'Maluncil97', 'Ilunyon70', 'Yadam35',
       'Dyally87', 'Pheosurllorin41', 'Frichaya88', 'Lassadarsda57',
       'Marynde90', 'Isri34', 'Assastnya25', 'Ardonmol96',
       'Lassirrasda85', 'Chadossa56', 'Poshilsa82', 'Yoishirrala98',
       'Sundista37', 'Ilassa51', 'Filurarn35', 'Phaestycal84', 'Irilis75',
       'Aeralstical35', 'Chanirrala39', 'Chanirra79', 'Assirra56',
       'Seolollo93', 'Iathem87', 'Iasurriacal29', 'Lisast98', 'Filrion59',
       'Halaecal66', 'Iskosian40', 'Ilastilis78', 'Seosrim97',
       'Farrian71', 'Rithe53', 'Frichossala54', 'Chamjaskya75',
       'Quanrion96', 'Tyaelaelis94', 'Quanenrian83', 'Chanirra64',
       'Yadaisuir65', 'Syathecal44', 'Arin32', 'Aelaria33', 'Assassa81',
       'Filrion83', 'Eoral49', 'Airi27', 'Eurisuru25', 'Liawista80',
       'Lisirra58', 'Chamadarsda63', 'Haestyphos66', 'Phaedasurap84',
       'Mindimnya67', 'Chadjask85', 'Eustyria89', 'Iskim66', 'Chamast86',
       'Lirtassan78', 'Ethrasyon38', 'Quilassa66', 'Lisassasda39',
       'Mindilsa60', 'Lalossa38', 'Chamistast30', 'Hariphos58',
       'Assilsan72', 'Inasuir29', 'Chanilsasda38', 'Mindesi74',
       'Ililsan66', 'Idacal95', 'Aeral68', 'Tyarithn67', 'Asty82',
       'Yalaeria91', 'Chadjask77', 'Ealiril69', 'Quaecjask96',
       'Firatan58', 'Yarolwen77', 'Tyaelistidru84', 'Yarithrin84',
       'Tyaelly53', 'Phiristi62', 'Ililsasya43', 'Aithelis62',
       'Undotesta33', 'Aelidru27', 'Chanossanya44', 'Maradarnya40',
       'Lisilsa62', 'Saena89', 'Chanilsast61', 'Sundassa93', 'Aidai73',
       'Indirrian56', 'Lisassasta50', 'Iduelis31', 'Chanosiaya39',
       'Assylla81', 'Aidaira26', 'Eudanu84', 'Chamiman85', 'Tyialisti80',
       'Marundi65', 'Eusur90', 'Mindirranya33', 'Phiallylis33', 'Isty55',
       'Frichilsa31', 'Chanista95', 'Aellyria80', 'Rastynusuir31',
       'Iljask75', 'Lisjaskan36', 'Mindjasksya61', 'Frichirranya75',
       'Ilast79', 'Eratiel90', 'Assim27', 'Irith83', 'Ilosian36',
       'Iskossasda43', 'Hala31', 'Jiskjask80', 'Aethedru70', 'Yathecal72',
       'Sisur91'], dtype=object)

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Number of Unique items
print(len(purchase_data["Item ID"].unique()))

183

In [8]:
#Calculate average price
print(purchase_data["Price"].mean())
#Create variable for average price
average_price = purchase_data["Price"].mean()

3.050987179487176

In [9]:
print(format(average_price,".2f"))

3.05

In [10]:
#Total Number of Purchases
number_purchases = len(purchase_data["Purchase ID"])
number_purchases

780

In [11]:
#Total Revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
#Percentage and Count of Male Players
male_data = purchase_data.loc[purchase_data['Gender'] == "Male"]
grouped_male_data = male_data.groupby(['SN'])
number_male = len(grouped_male_data)
number_male

484

In [13]:
percentage_male = number_male / total_player
print(format(percentage_male, "%"))

84.027778%

In [14]:
#Percentage and Count of Female Players
female_data = purchase_data.loc[purchase_data['Gender'] == "Female"]
grouped_female_data = female_data.groupby(['SN'])
number_female = len(grouped_female_data)
number_female

81

In [15]:
percentage_female = number_female / total_player
print(format(percentage_female, "%"))

14.062500%

In [16]:
#Percentage and Count of Other / Non-Disclosed
other_data = purchase_data.loc[purchase_data['Gender'] == "Other / Non-Disclosed"]
grouped_other_data = other_data.groupby(['SN'])
number_other = len(grouped_other_data)
number_other

11

In [17]:
percentage_other = number_other / total_player
print(format(percentage_other, "%"))

1.909722%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
male_purchases = len(male_data["Purchase ID"])
male_purchases

652

In [19]:
female_purchases = len(female_data["Purchase ID"])
female_purchases

113

In [20]:
other_purchases = len(other_data["Purchase ID"])
other_purchases

15

In [21]:
#Calculate male average price
print(format(male_data["Price"].mean(),".2f"))
#Create variable for male average price
male_avg_price = male_data["Price"].mean()

3.02

In [22]:
#Calculate female average price
print(format(female_data["Price"].mean(),".2f"))
#Create variable for female average price
female_avg_price = female_data["Price"].mean()

3.20

In [23]:
#Calculate other average price
print(format(other_data["Price"].mean(),".2f"))
#Create variable for other average price
other_avg_price = other_data["Price"].mean()

3.35

In [24]:
#Calculate male total purchase value
print(male_data["Price"].sum())
#Create variable for male total purchase value
male_sum_price = male_data["Price"].sum()

1967.64

In [25]:
#Calculate female total purchase value
print(female_data["Price"].sum())
#Create variable for female total purchase value
female_sum_price = female_data["Price"].sum()

361.94

In [26]:
#Calculate other total purchase value
print(other_data["Price"].sum())
#Create variable for other total purchase value
other_sum_price = other_data["Price"].sum()

50.19

In [27]:
#Avg Total Purchase per Male Person
male_person_avg = male_sum_price/number_male
print(format(male_person_avg,".2f"))

4.07

In [28]:
#Avg Total Purchase per female Person
female_person_avg = female_sum_price/number_female
print(format(female_person_avg,".2f"))

4.47

In [29]:
#Avg Total Purchase per other Person
other_person_avg = other_sum_price/number_other
print(format(other_person_avg,".2f"))

4.56

In [30]:
purchase_df = pd.DataFrame(
    {"Gender": ["Male", "Female", "Other / Non-Disclosed"],
     "Purchase Count": [male_purchases, female_purchases, other_purchases],
     "Average Purchase Price": [male_avg_price, female_avg_price , other_avg_price ],
     "Total Purchase Value": [male_sum_price, female_sum_price, other_sum_price],
     "Avg Total Purchase per Person": [male_person_avg, female_person_avg, other_person_avg]
     }
)
purchase_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,652,3.017853,1967.64,4.065372
1,Female,113,3.203009,361.94,4.468395
2,Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [31]:
# Create the bins in which Data will be held for ages
# Bins are 0, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50.   
bins = [0,9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]

# Create the names for the 5 bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [32]:
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [34]:
# Creating a group based off of the bins
age_group = purchase_data.groupby("Age Ranges")
age_group.count()

            Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Ranges
<10                  23   23   23      23       23         23     23
10-14                28   28   28      28       28         28     28
15-19               136  136  136     136      136        136    136
20-24               365  365  365     365      365        365    365
25-29               101  101  101     101      101        101    101
30-34                73   73   73      73       73         73     73
35-39                41   41   41      41       41         41     41
40+                  13   13   13      13       13         13     13

In [35]:
#Percentage and Count ten
ten_data = purchase_data.loc[purchase_data['Age Ranges'] == "<10"]
grouped_ten_data = ten_data.groupby(['SN'])
number_ten = len(grouped_ten_data)
number_ten

17

In [36]:
percentage_ten = format(number_ten / total_player,"%")

In [37]:
#Percentage and Count fourteen
fourteen_data = purchase_data.loc[purchase_data['Age Ranges'] == "10-14"]
grouped_fourteen_data = fourteen_data.groupby(['SN'])
number_fourteen = len(grouped_fourteen_data)
number_fourteen

22

In [38]:
percentage_fourteen = format(number_fourteen / total_player,"%")

In [39]:
#Percentage and Count nineteen
nineteen_data = purchase_data.loc[purchase_data['Age Ranges'] == "15-19"]
grouped_nineteen_data = nineteen_data.groupby(['SN'])
number_nineteen = len(grouped_nineteen_data)
number_nineteen

107

In [40]:
percentage_nineteen = format(number_nineteen / total_player,"%")

In [41]:
#Percentage and Count twentyfour
twentyfour_data = purchase_data.loc[purchase_data['Age Ranges'] == "20-24"]
grouped_twentyfour_data = twentyfour_data.groupby(['SN'])
number_twentyfour = len(grouped_twentyfour_data)
number_twentyfour

258

In [42]:
percentage_twentyfour = format(number_twentyfour / total_player,"%")

In [43]:
#Percentage and Count twentynine
twentynine_data = purchase_data.loc[purchase_data['Age Ranges'] == "25-29"]
grouped_twentynine_data = twentynine_data.groupby(['SN'])
number_twentynine = len(grouped_twentynine_data)
number_twentynine

77

In [45]:
percentage_twentynine = format(number_twentynine / total_player,"%")

In [46]:
#Percentage and Count thirtyfour
thirtyfour_data = purchase_data.loc[purchase_data['Age Ranges'] == "30-34"]
grouped_thirtyfour_data = thirtyfour_data.groupby(['SN'])
number_thirtyfour = len(grouped_thirtyfour_data)
number_thirtyfour

52

In [47]:
percentage_thirtyfour = format(number_thirtyfour / total_player,"%")

In [48]:
#Percentage and Count thirtynine
thirtynine_data = purchase_data.loc[purchase_data['Age Ranges'] == "35-39"]
grouped_thirtynine_data = thirtynine_data.groupby(['SN'])
number_thirtynine = len(grouped_thirtynine_data)
number_thirtynine

31

In [50]:
percentage_thirtynine = format(number_thirtynine / total_player,"%")

In [51]:
#Percentage and Count fourty
fourty_data = purchase_data.loc[purchase_data['Age Ranges'] == "40+"]
grouped_fourty_data = fourty_data.groupby(['SN'])
number_fourty = len(grouped_fourty_data)
number_fourty

12

In [53]:
percentage_fourty = format(number_fourty / total_player, "%")

In [54]:
age_df = pd.DataFrame(
    {"Age Ranges": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
     "Total Count": [number_ten,number_fourteen,number_nineteen,number_twentyfour,
                     number_twentynine,number_thirtyfour,number_thirtynine,number_fourty],
     "Percentage of Players": [percentage_ten,percentage_fourteen,percentage_nineteen,percentage_twentyfour,
                     percentage_twentynine,percentage_thirtyfour,percentage_thirtynine,percentage_fourty]   
     }
)
age_df

  Age Ranges  Total Count Percentage of Players
0        <10           17             2.951389%
1      10-14           22             3.819444%
2      15-19          107            18.576389%
3      20-24          258            44.791667%
4      25-29           77            13.368056%
5      30-34           52             9.027778%
6      35-39           31             5.381944%
7        40+           12             2.083333%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
ten_purchases = len(ten_data["Purchase ID"])
print(ten_purchases)

23

In [56]:
#Calculate male <10 price
print(format(ten_data["Price"].mean(),".2f"))
#Create variable for male average price
ten_avg_price = ten_data["Price"].mean()

3.35

In [57]:
#Calculate <10 total purchase value
print(ten_data["Price"].sum())
#Create variable for <10 total purchase value
ten_sum_price = ten_data["Price"].sum()

77.13

In [58]:
#Avg Total Purchase per <10 Person
ten_person_avg = ten_sum_price/number_ten
print(format(ten_person_avg,".2f"))

4.54

In [59]:
fourteen_purchases = len(fourteen_data["Purchase ID"])
print(fourteen_purchases)
print(format(fourteen_data["Price"].mean(),".2f"))
fourteen_avg_price = fourteen_data["Price"].mean()
print(fourteen_data["Price"].sum())
fourteen_sum_price = fourteen_data["Price"].sum()
fourteen_person_avg = fourteen_sum_price/number_fourteen
print(format(fourteen_person_avg,".2f"))

28
2.96
82.78
3.76

In [60]:
nineteen_purchases = len(nineteen_data["Purchase ID"])
print(nineteen_purchases)
print(format(nineteen_data["Price"].mean(),".2f"))
nineteen_avg_price = nineteen_data["Price"].mean()
print(nineteen_data["Price"].sum())
nineteen_sum_price = nineteen_data["Price"].sum()
nineteen_person_avg = nineteen_sum_price/number_nineteen
print(format(nineteen_person_avg,".2f"))

136
3.04
412.89
3.86

In [61]:
twentyfour_purchases = len(twentyfour_data["Purchase ID"])
print(twentyfour_purchases)
print(format(twentyfour_data["Price"].mean(),".2f"))
twentyfour_avg_price = twentyfour_data["Price"].mean()
print(twentyfour_data["Price"].sum())
twentyfour_sum_price = twentyfour_data["Price"].sum()
twentyfour_person_avg = twentyfour_sum_price/number_twentyfour
print(format(twentyfour_person_avg,".2f"))

365
3.05
1114.06
4.32

In [62]:
twentynine_purchases = len(twentynine_data["Purchase ID"])
print(twentynine_purchases)
print(format(twentynine_data["Price"].mean(),".2f"))
twentynine_avg_price = twentynine_data["Price"].mean()
print(twentynine_data["Price"].sum())
twentynine_sum_price = twentynine_data["Price"].sum()
twentynine_person_avg = twentynine_sum_price/number_twentynine
print(format(twentynine_person_avg,".2f"))

101
2.90
292.99999999999994
3.81

In [63]:
thirtyfour_purchases = len(thirtyfour_data["Purchase ID"])
print(thirtyfour_purchases)
print(format(thirtyfour_data["Price"].mean(),".2f"))
thirtyfour_avg_price = thirtyfour_data["Price"].mean()
print(thirtyfour_data["Price"].sum())
thirtyfour_sum_price = thirtyfour_data["Price"].sum()
thirtyfour_person_avg = thirtyfour_sum_price/number_thirtyfour
print(format(thirtyfour_person_avg,".2f"))

73
2.93
214.00000000000003
4.12

In [64]:
thirtynine_purchases = len(thirtynine_data["Purchase ID"])
print(thirtynine_purchases)
print(format(thirtynine_data["Price"].mean(),".2f"))
thirtynine_avg_price = thirtynine_data["Price"].mean()
print(thirtynine_data["Price"].sum())
thirtynine_sum_price = thirtynine_data["Price"].sum()
thirtynine_person_avg = thirtynine_sum_price/number_thirtynine
print(format(thirtynine_person_avg,".2f"))

41
3.60
147.67
4.76

In [65]:
fourty_purchases = len(fourty_data["Purchase ID"])
print(fourty_purchases)
print(format(fourty_data["Price"].mean(),".2f"))
fourty_avg_price = fourty_data["Price"].mean()
print(fourty_data["Price"].sum())
fourty_sum_price = fourty_data["Price"].sum()
fourty_person_avg = fourty_sum_price/number_fourty
print(format(fourty_person_avg,".2f"))

13
2.94
38.24
3.19

In [66]:
age_analysis_df = pd.DataFrame(
    {"Age Ranges": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
     "Purchase Count": [ten_purchases,fourteen_purchases,nineteen_purchases,twentyfour_purchases,
                     twentynine_purchases,thirtyfour_purchases,thirtynine_purchases,fourty_purchases],
     "Average Purchase Price": [ten_avg_price,fourteen_avg_price,nineteen_avg_price,twentyfour_avg_price,
                     twentynine_avg_price,thirtyfour_avg_price,thirtynine_avg_price,fourty_avg_price],
     "Total Purchase Value": [ten_sum_price,fourteen_sum_price,nineteen_sum_price,twentyfour_sum_price,
                     twentynine_sum_price,thirtyfour_sum_price,thirtynine_sum_price,fourty_sum_price],
     "Avg Total Purchase per Person": [ten_person_avg,fourteen_person_avg,nineteen_person_avg,twentyfour_person_avg,
                     twentynine_person_avg,thirtyfour_person_avg,thirtynine_person_avg,fourty_person_avg]
     }
)
age_analysis_df

,Age Ranges,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,3.353478,77.13,4.537059
1,10-14,28,2.956429,82.78,3.762727
2,15-19,136,3.035956,412.89,3.858785
3,20-24,365,3.052219,1114.06,4.318062
4,25-29,101,2.900990,293.00,3.805195
5,30-34,73,2.931507,214.00,4.115385
6,35-39,41,3.601707,147.67,4.763548
7,40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [67]:

g1 = purchase_data.groupby('SN')

g1['SN'].apply(pd.DataFrame)

,Adairialis76,Adastirin33,Aeda94,Aela59,Aelaria33,Aelastirin39,Aelidru27,Aelin32,Aelly27,Aellynun67,...,Yasrisu92,Yastyriaphos75,Yasur35,Yasur85,Yathecal72,Yathecal82,Yathedeu43,Yoishirrala98,Zhisrisu83,Zontibe81
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yathecal72,NaN,NaN,NaN,NaN,NaN
778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
purchase_data.sort_values('Price', ascending=False)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
554,554,Dyally87,22,Male,63,Stormfury Mace,4.99,20-24
189,189,Hiasri33,23,Male,63,Stormfury Mace,4.99,20-24
110,110,Ririp86,25,Male,139,"Mercy, Katana of Dismay",4.94,25-29
246,246,Lirtilsa71,24,Male,139,"Mercy, Katana of Dismay",4.94,20-24
493,493,Chanirrasta87,14,Male,139,"Mercy, Katana of Dismay",4.94,10-14
...,...,...,...,...,...,...,...,...
586,586,Chanirra79,23,Female,155,War-Forged Gold Deflector,1.01,20-24
282,282,Aidai61,21,Male,155,War-Forged Gold Deflector,1.01,20-24
371,371,Eusurdeu49,23,Male,155,War-Forged Gold Deflector,1.01,20-24
63,63,Alo38,20,Male,125,Whistling Mithril Warblade,1.00,20-24
418,418,Marim28,25,Female,125,Whistling Mithril Warblade,1.00,25-29

In [69]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age Ranges'],
      dtype='object')

In [70]:
Lisosia93_data = purchase_data.loc[purchase_data['SN'] == "Lisosia93"]
Idastidru52_data = purchase_data.loc[purchase_data['SN'] == "Idastidru52"]
Chamjask73_data = purchase_data.loc[purchase_data['SN'] == "Chamjask73"]
Iral74_data = purchase_data.loc[purchase_data['SN'] == "Iral74"]
Iskadarya95_data = purchase_data.loc[purchase_data['SN'] == "Iskadarya95"]

In [71]:
Lisosia93_purchases = len(Lisosia93_data["Purchase ID"])
print(Lisosia93_purchases)
print(format(Lisosia93_data["Price"].mean(),".2f"))
Lisosia93_avg_price = Lisosia93_data["Price"].mean()
print(Lisosia93_data["Price"].sum())
Lisosia93_sum_price = Lisosia93_data["Price"].sum()

5
3.79
18.96

In [72]:
Idastidru52_purchases = len(Idastidru52_data["Purchase ID"])
print(Idastidru52_purchases)
print(format(Idastidru52_data["Price"].mean(),".2f"))
Idastidru52_avg_price = Idastidru52_data["Price"].mean()
print(Idastidru52_data["Price"].sum())
Idastidru52_sum_price = Idastidru52_data["Price"].sum()

4
3.86
15.45

In [73]:
Chamjask73_purchases = len(Chamjask73_data["Purchase ID"])
print(Chamjask73_purchases)
print(format(Chamjask73_data["Price"].mean(),".2f"))
Chamjask73_avg_price = Chamjask73_data["Price"].mean()
print(Chamjask73_data["Price"].sum())
Chamjask73_sum_price = Chamjask73_data["Price"].sum()

3
4.61
13.83

In [74]:
Iral74_purchases = len(Iral74_data["Purchase ID"])
print(Iral74_purchases)
print(format(Iral74_data["Price"].mean(),".2f"))
Iral74_avg_price = Iral74_data["Price"].mean()
print(Iral74_data["Price"].sum())
Iral74_sum_price = Iral74_data["Price"].sum()

4
3.40
13.619999999999997

In [75]:
Iskadarya95_purchases = len(Iskadarya95_data["Purchase ID"])
print(Iskadarya95_purchases)
print(format(Iskadarya95_data["Price"].mean(),".2f"))
Iskadarya95_avg_price = Iskadarya95_data["Price"].mean()
print(Iskadarya95_data["Price"].sum())
Iskadarya95_sum_price = Iskadarya95_data["Price"].sum()

3
4.37
13.1

In [76]:
top_spender_df = pd.DataFrame(
    {"Top Spender": [ "Lisosia93", "Idastidru52", "Chamjask73", "Iral74", "Iskadarya95"],
     "Purchase Count": [Lisosia93_purchases,Idastidru52_purchases,
                     Chamjask73_purchases,Iral74_purchases,Iskadarya95_purchases],
     "Average Purchase Price": [Lisosia93_avg_price,Idastidru52_avg_price,
                     Chamjask73_avg_price,Iral74_avg_price,Iskadarya95_avg_price],
     "Total Purchase Value": [Lisosia93_sum_price,Idastidru52_sum_price,
                     Chamjask73_sum_price,Iral74_sum_price,Iskadarya95_sum_price
],
     }
)
top_spender_df

   Top Spender  Purchase Count  Average Purchase Price  Total Purchase Value
0    Lisosia93               5                3.792000                 18.96
1  Idastidru52               4                3.862500                 15.45
2   Chamjask73               3                4.610000                 13.83
3       Iral74               4                3.405000                 13.62
4  Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [77]:
item_df = purchase_data[['Item ID','Item Name','Price']]

In [78]:
grouped_item_df = item_df.groupby(['Item ID','Item Name'])

In [ ]:
#item_df['Purchase Count']

In [ ]:
#item_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame