### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# always look at datatypes first
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [3]:
#Use Len to display the total number of players
total_player = len(purchase_data["SN"].unique())
total_player

576

In [4]:
#Use Len to display the total number of players
print(len(purchase_data["Purchase ID"]))

780

In [5]:
# Number of Unique players
print(len(purchase_data["SN"].unique()))

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Number of Unique items
print(len(purchase_data["Item ID"].unique()))

183

In [7]:
#Calculate average price
print(purchase_data["Price"].mean())
#Create variable for average price
average_price = purchase_data["Price"].mean()

3.050987179487176

In [9]:
print(format(average_price,".2f"))

3.05

In [10]:
#Total Number of Purchases
number_purchases = len(purchase_data["Purchase ID"])
number_purchases

780

In [11]:
#Total Revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
#Percentage and Count of Male Players
male_data = purchase_data.loc[purchase_data['Gender'] == "Male"]
grouped_male_data = male_data.groupby(['SN'])
number_male = len(grouped_male_data)
number_male

484

In [13]:
percentage_male = number_male / total_player
print(format(percentage_male, "%"))

84.027778%

In [14]:
#Percentage and Count of Female Players
female_data = purchase_data.loc[purchase_data['Gender'] == "Female"]
grouped_female_data = female_data.groupby(['SN'])
number_female = len(grouped_female_data)
number_female

81

In [15]:
percentage_female = number_female / total_player
print(format(percentage_female, "%"))

14.062500%

In [16]:
#Percentage and Count of Other / Non-Disclosed
other_data = purchase_data.loc[purchase_data['Gender'] == "Other / Non-Disclosed"]
grouped_other_data = other_data.groupby(['SN'])
number_other = len(grouped_other_data)
number_other

11

In [17]:
percentage_other = number_other / total_player
print(format(percentage_other, "%"))

1.909722%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
male_purchases = len(male_data["Purchase ID"])
male_purchases

652

In [19]:
female_purchases = len(female_data["Purchase ID"])
female_purchases

113

In [20]:
other_purchases = len(other_data["Purchase ID"])
other_purchases

15

In [21]:
#Calculate male average price
print(format(male_data["Price"].mean(),".2f"))
#Create variable for male average price
male_avg_price = male_data["Price"].mean()

3.02

In [22]:
#Calculate female average price
print(format(female_data["Price"].mean(),".2f"))
#Create variable for female average price
female_avg_price = female_data["Price"].mean()

3.20

In [23]:
#Calculate other average price
print(format(other_data["Price"].mean(),".2f"))
#Create variable for other average price
other_avg_price = other_data["Price"].mean()

3.35

In [24]:
#Calculate male total purchase value
print(male_data["Price"].sum())
#Create variable for male total purchase value
male_sum_price = male_data["Price"].sum()

1967.64

In [25]:
#Calculate female total purchase value
print(female_data["Price"].sum())
#Create variable for female total purchase value
female_sum_price = female_data["Price"].sum()

361.94

In [26]:
#Calculate other total purchase value
print(other_data["Price"].sum())
#Create variable for other total purchase value
other_sum_price = other_data["Price"].sum()

50.19

In [27]:
#Avg Total Purchase per Male Person
male_person_avg = male_sum_price/number_male
print(format(male_person_avg,".2f"))

4.07

In [28]:
#Avg Total Purchase per female Person
female_person_avg = female_sum_price/number_female
print(format(female_person_avg,".2f"))

4.47

In [29]:
#Avg Total Purchase per other Person
other_person_avg = other_sum_price/number_other
print(format(other_person_avg,".2f"))

4.56

In [31]:
purchase_df = pd.DataFrame(
    {"Gender": ["Male", "Female", "Other / Non-Disclosed"],
     "Purchase Count": [male_purchases, female_purchases, other_purchases],
     "Average Purchase Price": [male_avg_price, female_avg_price , other_avg_price ],
     "Total Purchase Value": [male_sum_price, female_sum_price, other_sum_price],
     "Avg Total Purchase per Person": [male_person_avg, female_person_avg, other_person_avg]
     }
)
purchase_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,652,3.017853,1967.64,4.065372
1,Female,113,3.203009,361.94,4.468395
2,Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame